


* {
    box-sizing: border-box;
}

a {
    color: white;
}

body {
    color: white;
    min-height: 100vh;
    background-color: var(--cor_principal);
    display: flex;
    
    transition: overflow-y 0.3s ease; /* Transição suave ao ativar o scroll */
}


body::-webkit-scrollbar {
    width: 5px; /* Largura do scroll */
}
body::-webkit-scrollbar-thumb {
    background-color: #888; /* Cor do scroll */
    border-radius: 10px;
}
body::placeholder {
    color: #aaa;
}
main {
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    
}

.corpo {
    width: 100%;
    height: 95%;
    padding: 5px 20px 20px 0px;
    
    z-index: 1;
    padding-left: 1%;
  
}

/*Body*/

#corr_icon {
    width: 55px;
    
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid rgb(243, 243, 243);
    margin-bottom: 30px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 10px;
}

.logo h1 {
    font-size: 18px;
    
}

.logo h2 {
    font-size: 14px;
    font-weight: normal;
    color: rgb(150, 150, 150);
}

.user-info {
  
    display: flex;
    align-items: center;
}

.user-info img {
    border-radius: 50%;
    margin-right: 10px;
    width: 55px;
    margin-left: 10px;
}

.user-info h1 {
    font-size: 18px;
    
}

.user-info h2 {
    font-size: 14px;
    font-weight: normal;
    color: rgb(150, 150, 150);
}





/*Line Baixa*/

.vertical-line {
    width: 100%;
    height: 1.7px;
    background-color: rgb(255, 255, 255);
    margin-top: 35px;
   
}

.vertical-line2 {
    width: 100%;
    height: 1.7px;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
}


/**/

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;

}


input:hover {
    cursor: pointer;
}

input[type="text"] {
    background-color: var(--cor_principal);
    border: none;
    border-bottom: 2px solid gray;
    padding: 5px;
    width: 500px;
    color: white;
 
}


input[type="date"]:focus, input[type="time"]:focus, input[type="text"]:focus {
    outline: none;
   background-color: rgb(29, 29, 29);  
   border-radius: 5px;
   border: none;
   padding: 5px;

}


input[type="date"] {
    background-color: var(--cor_principal);
    border: none;
    border-bottom: 2px solid rgb(222, 222, 222);
    padding: 5px;
    width: 500px;
    color: white;
    
}

input[type="time"] {
    background-color: var(--cor_principal);
    border: none;
    border-bottom: 2px solid rgb(222, 222, 222);
    padding: 5px;
    width: 500px;
    color: white;
    
}

button {
    font-weight: bold;
    margin-left: 25%;
    border: none;
    padding: 15px;
    width: 50%;
    border-radius: 20px;
}

button:hover {
    cursor: pointer;
    background-color: gray;
}

label {
    font-size: 14px;
}

footer {
    color: rgb(48, 48, 48);
    font-size: 14px;
    margin-top: 9px;
}

img {
    width: 110px;
    border: none;
}