
:root {
    --cor_principal: rgb(0, 0, 0);
    --cor_principal2: #383838;
    --cor_principal3: #171717;
    --cor_segundaria: rgb(255, 255, 255);
}


* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
   
}




a {
    text-decoration: none;
}


